<div class="service-catalog" id="service">
  <div class="heading_container heading_center" style="margin-bottom: 25px;">
    <h2>
      Key <span>Services</span>
    </h2>
    <p> Your trusted partner for language skills, student visas, and global education success. </p>
  </div>

  <!-- Key Services List -->
  <div class="key-services-list">
    <ul>
      <li>IELTS / PTE / UKVI Test Preparations</li>
      <li>Certified Spoken English, Business English, and ICT Courses</li>
      <li>Student Visa Counseling (UK, Canada, Australia, etc.)</li>
      <li>University Admission Processing & Documentation</li>
      <li>Pre-departure Orientation and Family Support</li>
      <li>Local and International Educational Seminars</li>
    </ul>
  </div>
</div>
