<!-- about section -->

<section class="about_section layout_padding" id="about">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>About <span>Us</span></h2>
      <p>
        SCULL Educational Institution Pvt Ltd is a recognized and rapidly growing educational institution in Sri Lanka offering comprehensive language training, 
        vocational education, and international student recruitment services. Since our establishment, we have empowered thousands of students with English language proficiency, 
        ICT skills, and international academic placements.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/About_imagebg.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>Our core strength </h3>
          <p>
            •	lies in our certified UK education counselors.
          </p>
          <p>
            •	strong regional presence, and a track record of successful student visa approvals.
          </p>         
        </div>
        <div class="detail-box">
          <h3>Our Vision</h3>
          <p>
            •	To become the leading gateway in Northern Sri Lanka for global education opportunities, career-oriented training, and ethical student recruitment.
          </p>
        </div>
        <div class="detail-box">
          <h3>Our Mission</h3>
          <p>
            •	Deliver high-quality language and vocational education.
          </p>
          <p>
            •	Provide transparent, free, and ethical student counseling services.
          </p>
          <p>
            • Establish direct partnerships with reputed international universities and colleges.
          </p>
          <p>
            • Assist students in gaining access to life-changing academic opportunities abroad.
          </p>
         
          <a href=""  (click)="openWhatsapp()"> Contact Us </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
