<!-- info section -->

<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 info_col">
        <div class="info_contact">
          <h4>Our Branch Network</h4>
          <div class="contact_link_box">
            <p>
              Kilinochchi Head Office<br>
              <a href="https://www.google.com/maps/search/?api=1&query=Karadibok+junction,+No14+Uruthirapuram+Rd,+Kilinochchi" target="_blank">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>Karadibok junction, No14 Uruthirapuram Rd, Kilinochchi</span>
            </a><br><br>
              Vavuniya Branch <br> 
              <a href="https://www.google.com/maps/search/No.+215%2F15,+Thirunavatkulam,+Thandikkulam/@8.7783398,80.4823208,17z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDYyOS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>No. 215/15, Thirunavatkulam, Thandikkulam</span>
            </a>
            </p>
            <p>
              <strong>Franchise Offices:</strong><br>
              True Academy (Konavil)<br>
              NEC Center (Visuvamadu)<br>
              Dream Visa Services (Mallavi)
            </p>
            <!-- <a href="mailto:scullsoe@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>scullsoe@gmail.com</span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +94 759840406 </span>
            </a> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 info_col">
        <div class="info_detail">
          <h4>Info</h4>
          <p>
            Scull Group of Institute is a leading educational institution committed to delivering high-quality, 
            career-focused learning experiences. With expert faculty and cutting-edge facilities, we empower students 
            to achieve academic excellence and prepare for success in today’s dynamic world.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-2 mx-auto info_col">
        <div class="info_link_box">
          <h4>Links</h4>
          <div class="info_links">
            <a class="active" href="#index.html"> Home </a>
            <a class="" href="#service"> Services </a>
            <a class="" href="#about"> About </a>
            <a class="" href="#image_galary"> Oru Galary </a>
            <a class="" href="#team"> Team </a>
            <a class="" href="#chooseUs"> Why Us </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 info_col">
        <h4>Social Medias</h4>
        <div class="info_social">
          <a href="https://web.facebook.com/profile.php?id=61552559295286&_tn_=-UC*F">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/scull-soe-undefined-b23323333/">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/scull_english/#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->

<!-- footer section -->
<section class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://html.design/">Scull Group of Institute </a>
    </p>
  </div>
</section>
<!-- footer section -->
