<section class="client_section layout_padding" id="image_gallery">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>
        Image <span>Gallery</span>
      </h2>
    </div>
    <div class="carousel-wrap">
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let client of clients">
          <ng-template carouselSlide>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <img [src]="client.image" alt="" class="" height="450px" width="500px" />
                  <div class="client_id">
                    <div class="client_info"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <!-- Image Uploader Section -->
    <div class="image-uploader">
      <button class="btn1" (click)="openUploader()">Upload Image</button>
    </div>
  </div>

  <!-- Modal Pop-Up -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3>Enter Code to Upload</h3>
      <input type="password" [(ngModel)]="enteredCode" placeholder="Enter Code" />
      <button class="btn1" (click)="validateCode()">Submit</button>
    </div>
  </div>

  <!-- Hidden File Input -->
  <input
  type="file"
  accept="image/*"
  id="fileInput"
  style="display: none"
  (change)="onFilesSelected($event)"
  multiple
/>
</section>
