@import '../../../styles.scss';

/* client section start */

.client_section {
    
    .heading_container {
      margin-bottom: 30px;
    }
  
    .box {
      display: flex;
      flex-direction: column;
      margin: 15px;
  
      .img-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin-bottom: -50px;
        margin-left: 25px;
        position: relative;
  
        img {
          border-radius: 100%;
        }
      }
  
      .client_id {
        display: flex;
        justify-content: space-between;
  
        .client_info {
          h6 {
            font-weight: 600;
            margin-bottom: 5px;
          }
  
          p {
            margin-bottom: 0;
            font-size: 15px;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
  
      .detail-box {
        background-color: $white;
        box-shadow: 0 0 15px 0 rgba($color: #000000, $alpha: 0.15);
        padding: 25px 25px 25px 25px;
  
        i {
          color: $primary2;
          margin-bottom: 10px;
        }
      }
    }
  
    .owl-carousel {
   
      .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 45px;
  
        .owl-prev,
        .owl-next {
          width: 55px;
          height: 55px;
          background-color: $white;
          color: $black;
          outline: none;
          bottom: 0px;
          font-size: 24px;
          box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.25);
  
          &:hover {
            color: $primary2;
            // background-image: url('../../../assets/images/scull_schoolbg.jpg');
          }
        }
      }
    }
  }
  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .btn1 {
    @include hero_btn($primary1, $white, 10px, 15px, 0);

    cursor: pointer;
  }
  
  
  input[type='password'],
  .submit-btn {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  /* client section end */